.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.btn {
  padding: 5px 10px;
  background-color: #fac800;
  color: #333;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  font-size: 16px;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid #fac800;
}
.cancel {
  background-color: transparent;
  border: 2px solid #dc2626;
  color: #dc2626;
  transition: all 0.4s ease;
}
.cancel:hover {
  background-color: #dc2626;
  color: #fff;
  border: 2px solid transparent;
}

.resultSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.expenceBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
}
.expenceBox span {
  font-weight: bold;
  color: green;
  margin-top: 7px;
}
.expenceBox .textRed {
  color: red;
}
