.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  font-family: monospace;
}
.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.resultSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
