.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.App h2 {
  font-size: 40px;
  margin-top: 50px;
}
.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.btn {
  padding: 5px 10px;
  background-color: #fac800;
  color: #333;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  font-size: 16px;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid #fac800;
}
.primary {
  color: #fff;
  background-color: #6d28d9;
  padding: 10px 0;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.primary:hover {
  background-color: transparent;
  border: 2px solid #6d28d9;
  color: #6d28d9;
}
.cancel {
  background-color: transparent;
  border: 2px solid #dc2626;
  color: #dc2626;
  transition: all 0.4s ease;
}
.cancel:hover {
  background-color: #dc2626;
  color: #fff;
  border: 2px solid transparent;
}
.resultSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.expenceBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
}
.expenceBox span {
  font-weight: bold;
  color: green;
  margin-top: 7px;
}
.expenceBox .textRed {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;
  margin-bottom: 30px;
}
input {
  border: 2px solid transparent;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 18px;
}
input:focus {
  border: 2px solid #ccc;
}

.radioBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.radioBox label {
  margin-left: 3px;
}
input[type="radio"] {
  margin-left: 10px;
}

.transaction {
  border-radius: 5px;
  background-color: #f4f4f5;
  padding: 10px;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid green;
}

input.search {
  display: block;
  width: 100%;
  margin: 20px 0;
  border: 2px solid transparent;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 18px;
}
input.search:focus {
  border: 2px solid #ccc;
}
